[submodule "submodules/ISFGLSLGenerator"]
	path = submodules/ISFGLSLGenerator
	url = ../ISFGLSLGenerator.git
[submodule "submodules/VVMetalKit"]
	path = submodules/VVMetalKit
	url = ../VVMetalKit.git
[submodule "submodules/PINCache"]
	path = submodules/PINCache
	url = ../PINCache.git
